{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Omkar Sagavekar || Software Engineer</title>
    <link rel="stylesheet" href="{% static '\css\styles.css' %}">

</head>

<body>
    <header>
        <h1>Omkar Sagavekar</h1>
        <p> Technology Service Analyst || Software Developer || Engineer </p>
    </header>

    <nav>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>

    <section id="about">
        <h2>About Me</h2>
        <p>
            With 2+ years of experience in procurement and technology services, I am a versatile professional with a
            passion for technology. I am skilled in using Excel, SQL, and Python for data analysis and reporting. With a
            solid foundation in programming and a passion for innovative solutions, I aim to contribute my technical
            expertise and problem-solving skills to develop robust and efficient applications.
        </p>
    </section>

    <section id="experience">
        <h2>Experience</h2>
        <h3>Analyst - Technology Services | GEP Solutions Pvt. Ltd.</h3>
        <p class="dates">July 22 - Present</p>
        <ul>
            <li>Coordinated the process of EDI/cXML integration with vendor/buyer ERP systems.</li>
            <li>Created, updated, and integrated cXML Hosted and Punch-out catalogs on GEP company portal.</li>
            <li>Developed and validated custom SQL queries to generate reports and maintain databases.</li>
            <li>Worked with large datasets of vendors to analyze purchasing trends and identify cost-saving
                opportunities.</li>
            <li>Created and followed up JIRA tickets for technical issues and customer requirements.</li>
            <li>Provided support and query resolution to clients through Salesforce & Freshdesk ticketing platforms.
            </li>
            <li>Prepared dashboards to highlight achievements and trends on given datasets.</li>
            <li>Developed Python-based tools to automate daily/weekly tasks.</li>
        </ul>

        <h3>Senior Analyst - Direct Procurement | Flextronics Technologies Pvt. Ltd.</h3>
        <p class="dates">Apr 21 - Jun 22</p>
        <ul>
            <li>Prepared and executed purchase orders and releases.</li>
            <li>Managed transactional interaction with suppliers.</li>
            <li>Handled shortage/excess escalation management and coordinated urgent receive, past dues management, and
                receiving challenge resolution.</li>
            <li>Performed root cause analysis to expedite the resolution of service issues.</li>
        </ul>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Proficient in Microsoft Excel</li>
            <li>REST APIs</li>
            <li>Github</li>
            <li>Frontend: Basics of HTML, CSS3</li>
            <li>Libraries: Pandas, Openpyxl, Tkinter, Beautifulsoup, Selenium</li>
            <li>Database: MySQL, MongoDB</li>
            <li>Software: Filezilla, MS-Azure storage explorer, Postman</li>
            <li>Programming languages: Python, C</li>
            <li>Framework: Django, REST Framework</li>
            <li>Ticketing tools/software: JIRA, Salesforce, FreshDesk</li>
            <li>IDE: Visual Studio Code</li>
        </ul>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <p>Include a list of your notable projects and their descriptions here.</p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Email: sagavekar.om@gmail.com</p>
        <p>Phone: +91 9595497500</p>
    </section>

    <footer>
        <p>&copy; 2023 Omkar Sagavekar. All rights reserved.</p>
    </footer>
</body>

</html>