{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Omkar Sagavekar || Software Engineer</title>
    <link rel="stylesheet" href="{% static '\css\styles.css' %}">
</head>

<body>
    <header>
        <h1>Omkar Sagavekar</h1>
        <p> Technology Service Analyst || Software Developer || Engineer </p>
    </header>

    <nav>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#skills">Skills</a>
        <a id="resume" href="static/Omkar_Sagavekar_Resume_06.28.2024.pdf">Resume</a>
        <a id="resume" href="static/interation1.zip">Temp_file</a>
        <a href="contact" target="_blank">Contact</a>
    </nav>

    <section id="about">
        <h2>About Me</h2>
        <p>
            With 3+ years of experience in procurement, technology service, I am a versatile professional with a passion
            for technology. I am skilled in using Excel, SQL and Python for data analysis and reporting. With a solid
            foundation in programming and a passion for innovative solutions, I aim to contribute my technical expertise
            and problem-solving skills to develop robust and efficient applications.
        </p>
    </section>

    <section>
        <h2>Summary of Qualifications</h2>
        <ul>
            <li>Proficient in diagnosing and resolving technical issues related to software product.</li>
            <li>Strong knowledge of Software development lifecycle – Agile/Waterfall, relational databases, Python, FTP/sFTP, Linux basics, Concept of OOPS, API / EDI integration, Punchout Catalogs etc.</li>
            <li>Excellent communication skills, both verbal and written, to effectively interact with users and stakeholders.</li>
            <li>Proficient in conducting root cause analysis to identify underlying issues and implement permanent solutions to prevent recurrence.</li>
            <li>Proven track record of maintaining high customer satisfaction ratings through clear communication, empathy, and effective problem-solving.</li>
        </ul>

    </section>

    <section id="experience">
        <h2>Experience</h2>
        <h3>Analyst - Technology Services | GEP Solutions Pvt. Ltd.</h3>
        <p class="dates">July 22 - Present</p>
        <ul>
            <li>Co-ordinate the process of <b> EDI/cXML </b>integration with vendor/buyer ERP system</li>
            <li>Create, update, and integrate <b> cXML Punch-out catalogs </b>and Hosted catalogs in GEP E-Procurement
                software.</li>
            <li>Develop and validate the <b> custom SQL queries</b> to generate reports and maintain database.</li>
            <li> <b> Develop Python based tool</b> to automate daily/weekly tasks.</li>
            <li>Worked with large datasets of vendors to analyze purchasing trends and identify cost-saving
                opportunities.</li>
            <li>Create and follow-up <b> JIRA tickets</b> for technical issue, customer requirements</li>
            <li>Provide support and query resolution to client thought <b> Salesforce & Freshdesk ticketing
                </b>platform.</li>
            <li><b>Prepare dashboard </b>to highlight achievement and trends on given dataset</li>
        </ul>

        <p class="dates">Award and achievements: </p>
        <ul>
            <li>Led the development and implementation of a python program that streamlined processes, resulting in a
                90% reduction in task completion time, from 300 minutes to just 30 minutes.</li>
            <li>Developed an independent Python program to automate email sending based on raw reports,<br>reducing the
                need for manual intervention by 70%. </br></li>
            <li>Kudos - Awarded in recognition of focused on the customer delight - Mar 23</li>
            <li>Achiever - Awarded in recognition of exemplary contribution to GEP</li>
        </ul>

        <h3>Senior Analyst - Direct Procurement | Flextronics Technologies Pvt. Ltd.</h3>
        <p class="dates">Apr 21 - Jun 22</p>
        <ul>
            <li>Prepared and executed purchase orders and releases.</li>
            <li>Managed transactional interaction with suppliers.</li>
            <li>Handled shortage/excess escalation management and coordinated urgent receive, past dues management, and
                receiving challenge resolution.</li>
            <li>Performed root cause analysis to expedite the resolution of service issues.</li>
        </ul>
        <p class="dates">Award and achievements: </p>
        <ul>
            <li>Engineered and implemented a streamlined process (SGA), which eliminated manual tasks for a team of 25,
                enhancing efficiency and workflow at scale</li>
            <li>Pat on the Back Award - Appreciation for being Creative, Customer Focused, Innovative and Effectively
                Managing KPIs - Jan 22 </li>
        </ul>
    </section>


    <section id="skills">
        <table id="skills-table" class="styled-table">
            <tr>
                <th>Technical Skill</th>
                <th>Worked on</th>
                <th>Links</th>
            </tr>
            <tr>
                <td>Programming languages: Python, C</td>
                <td>REST, SOAP APIs</td>
                <td><a href="https://github.com/sagavekar" target="_blank">Github</a></td>
            </tr>
            <tr>
                <td>Frontend: Basics of HTML, CSS3, Javascript</td>
                <td>Libraries: Pandas, Openpyxl, Tkinter, Beautifulsoup, Selenium, Xlwings, Pandas, etc.</td>
                <td><a href="https://www.hackerrank.com/sagavekar_om" target="_blank">Hackerrank</a></td>
            </tr>
            <tr>
                <td>Database: MySQL, MongoDB</td>
                <td>Softwares: Filezilla, MS-Azure storage explorer, Postman</td>
                <td><a href="https://www.linkedin.com/in/omkar-sagavekar-8bb806171/" target="_blank">Linkdin</a></td>
            </tr>
            <tr>
                <td>Proficient in Microsoft Excel</td>
                <td>Framework: Django, REST Framework (DRF)</td>
                <td>Ticketing tool/software: JIRA, Salesforce, FreshDesk</td>
            </tr>
            <tr>
                <td>IDE: Visual Studio Code</td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </section>


    <section id="contact">
        <h2>Contact</h2>
        <p>Email: sagavekar.om@gmail.com</p>
        <p>Phone: +91 9595497500</p>
    </section>

    <footer>
        <p>&copy; 2024 Omkar Sagavekar. All rights reserved.</p>
    </footer>
</body>

</html>